
.profile-container {
    flex-direction: column;
    height: auto;
    overflow: visible;
}

.left-block,
.middle-block,
.right-block {
    position: relative;
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 20px; 
}

.middle-block {
    margin-top: 20px;
}

.right-block {
    margin-top: 20px; 
}

.middle-block h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}
.header-2 {
    font-family: 'Roboto Mono', monospace;
    font-size: 9px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-left: 15px;
    text-align: center;
    margin-top: 20px;
  }

  .header-3 {
    font-family: 'Roboto Mono', monospace;
    font-size: 9px;
    font-weight: 300;
    margin-top: 50px;
    margin-left: 15px;
    text-align: center;
  }

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    padding: 5px;
}

.project-box {
    width: 160px;
    height: 217px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    cursor: pointer;
}


@media (max-width: 320px) {
    .project-container {
        justify-content: center;
    }
}
@media (min-width: 321px) and (max-width: 500px) {
    .project-container {
        justify-content: space-around;
    }
}


@media (min-width: 500px) {
    .project-container {
        justify-content: flex-start;
    }
}

/* Enable horizontal scrolling for dot menu and gallery */
.dot-menu-container,
.photo-gallery,
.dot-menu2-container,
.book-gallery {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.dot,
.dot2 {
    scroll-snap-align: center;
}
